body {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
  font-family: "Barlow Condensed", sans-serif;
  color: var(--white);
  position: relative;
}

.nav-step {
  font-size: 1.3rem;
}

.page-title {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.hero-section {
  display: flex;
  gap: 5rem;
  align-items: center;
  padding: 0 16.5rem;
  justify-content: center;
}

.crew-member-info {
  width: 60rem;
}

.crew-member-title {
  font-size: 3.2rem;
  opacity: 0.5;
  margin-bottom: 1rem;
}

.crew-member-name {
  font-size: 5.6rem;
  margin-bottom: 2rem;
}

.crew-member-description {
  font-size: 1.8rem;
  color: var(--accent);
  line-height: 1.8;
}

.navigator {
  display: flex;
  gap: 4rem;
  margin-left: 16.5rem;
  margin-bottom: 9.6rem;
}

.nav-member {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--white);
  opacity: 0.175;
}

.nav-member:hover {
  cursor: pointer;
}

.selected-member {
  opacity: 1;
}

.img-container {
  width: 64rem;
  height: 70rem;
}
