body {
  background-image: url("../assets/home/background-home-desktop.jpg");
}

.hero-section {
  height: 100%;
  padding: 12.8rem 16.5rem 4rem;
  display: flex;
  align-items: flex-end;
}

.hero-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-page-text {
  color: var(--accent);
  width: 54rem;
}

.first-text {
  font-size: 2.4rem;
}

.main-word {
  font-size: 12rem;
  margin-bottom: 2rem;
  font-family: "Barlow ", sans-serif;
  color: var(--white);
}

.remaining-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.display-button {
  position: relative;
  z-index: 2;
  padding: 11.75rem 6.8rem;
  border-radius: 50%;
  font-size: 3.2rem;
  border: none;
  font-family: "Bellefair", serif;
  color: var(--main-bg);
}

.display-button {
  transition: box-shadow 0.3s ease;
}

/* Pseudo element for the blurred ring */
.display-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.display-button:hover {
  cursor: pointer;
}
.display-button:hover::before {
  opacity: 1;
}

.hero-section {
  height: 100%;
  padding: 12.8rem 16.5rem 4rem;
  display: flex;
  align-items: flex-end;
}

.hero-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
