* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  height: 80vh;
  margin: 0;
  padding: 0;
}

.hero-section {
  height: 100%;
  padding: 12.8rem 16.5rem 4rem;
}
